# Acquire Exercises

In [1]:
import requests
import pandas as pd
import acquire

1. Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.
- https://api.data.codeup.com

In [2]:
# look at just the base URL
base_url = requests.get('https://api.data.codeup.com')

In [3]:
response = base_url

In [4]:
print(response.text)

{"api":"/api/v1","help":"/documentation"}

In [5]:
# The API provides some documentation. Let's look at the documentation. 
url = 'https://api.data.codeup.com/documentation'
response = requests.get(url)
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [6]:
# Let's look at the items
response = requests.get('https://api.data.codeup.com/api/v1/items')
data = response.json()
# look at dictionary keys
data.keys()

dict_keys(['payload', 'status'])

In [7]:
# within payload, let's look at the keys/content
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [8]:
# Use built-in properties to get to subsequent pages and look at the shape of the pages
current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

current_page: 1
max_page: 3
next_page: /api/v1/items?page=2

In [9]:
# turn the data into a pandas dataframe
df = pd.DataFrame(data['payload']['items'])
df.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [10]:
df.shape

(20, 6)

In [11]:
# define the base url
domain = 'https://api.data.codeup.com'
# path or where we are accessing the data inside the url
endpoint = '/api/v1/items'
#create an empty list to place the data within
items = []
# combine base and endpoint to alllow for looping
url = domain + endpoint

# making a request and storing the response to the request as a string
response = requests.get(url)

# storing the response in json form
data = response.json()
# .extend adds elements from a list to another list
items.extend(data['payload']['items'])
# reasigning the endpoint variable to have the path to the next page.
endpoint = data['payload']['next_page']

In [12]:
items = pd.DataFrame(items)
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [13]:
data ['payload']['next_page']

'/api/v1/items?page=2'

In [14]:
url = domain + data['payload']['next_page']
print('next url:', url)

next url: https://api.data.codeup.com/api/v1/items?page=2

In [15]:
'''
print('next endpoint', data['payload']['next_page'])
url = domain + data['payload']['next_page']
print('next_url:', url)
'''

"\nprint('next endpoint', data['payload']['next_page'])\nurl = domain + data['payload']['next_page']\nprint('next_url:', url)\n"

In [16]:
# create dataframe
items = pd.DataFrame(items)
items

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036
5,Sally Hansen,6,Sally Hansen Nail Color Magnetic 903 Silver El...,6.93,74170388732,74170388732
6,Twinings Of London,7,Twinings Of London Classics Lady Grey Tea - 20 Ct,9.64,70177154004,70177154004
7,Lea & Perrins,8,Lea & Perrins Marinade In-a-bag Cracked Pepper...,1.68,51600080015,51600080015
8,Van De Kamps,9,Van De Kamps Fillets Beer Battered - 10 Ct,1.79,19600923015,19600923015
9,Ahold,10,Ahold Cocoa Almonds,3.17,688267141676,688267141676
10,Honest Tea,11,Honest Tea Peach White Tea,3.93,657622604842,657622604842
11,Mueller,12,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211
12,Garnier Nutritioniste,13,Garnier Nutritioniste Moisture Rescue Fresh Cl...,6.47,603084234561,603084234561
13,Pamprin,14,Pamprin Maximum Strength Multi-symptom Menstru...,7.54,41167300121,41167300121
14,Suave,15,Suave Naturals Moisturizing Body Wash Creamy T...,9.11,79400847201,79400847201
15,Burts Bees,16,Burts Bees Daily Moisturizing Cream Sensitive,5.17,792850014008,792850014008
16,Ducal,17,Ducal Refried Red Beans,1.16,88313590791,88313590791
17,Scotch,18,Scotch Removable Clear Mounting Squares - 35 Ct,4.39,21200725340,21200725340
18,Careone,19,Careone Family Comb Set - 8 Ct,0.74,41520035646,41520035646
19,Usda Produce,20,Plums Black,5.62,204040000000,204040000000

In [17]:
items.to_csv('items', index = False)

## 2. Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [18]:
# Let's look at the items
response = requests.get('https://api.data.codeup.com/api/v1/stores')
data = response.json()
# look at dictionary keys
data.keys()

dict_keys(['payload', 'status'])

In [19]:
# Use built-in properties to get to subsequent pages and look at the shape of the pages
current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

current_page: 1
max_page: 1
next_page: None

In [20]:
# turn the data into a pandas dataframe
df = pd.DataFrame(data['payload']['stores'])
df.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [21]:
df.shape

(10, 5)

In [22]:
# create dataframe for i
stores = df
stores

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218
5       1015 S WW White Rd  San Antonio         6          TX         78220
6   12018 Perrin Beitel Rd  San Antonio         7          TX         78217
7      15000 San Pedro Ave  San Antonio         8          TX         78232
8       735 SW Military Dr  San Antonio         9          TX         78221
9     8503 NW Military Hwy  San Antonio        10          TX         78231

In [23]:
stores.to_csv('stores', index = False)

## 3. Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [24]:
# Approach 2
base_url = 'https://api.data.codeup.com/api/v1/sales?page='
sales = []

# make the first request
url = base_url + str(1)
response = requests.get(url)
data = response.json()
max_page = data['payload']['max_page']
sales.extend(data['payload']['sales'])

# We already made the request to the first page, so we'll start at 2.
# We add 1 to max_page because the range() function is exclusive of the endpoint
page_range = range(2, max_page + 1)

for page in page_range:
    url = base_url + str(page)
    print(f'\rFetching page {page}/{max_page} {url}', end='')
    response = requests.get(url)
    data = response.json()
    sales.extend(data['payload']['sales'])

Fetching page 183/183 https://api.data.codeup.com/api/v1/sales?page=183

In [25]:
'''
# define the base url
domain = 'https://api.data.codeup.com'
# path or where we are accessing the data inside the url
endpoint = '/api/v1/sales'
#create an empty list to place the data within
sales = []

while True: 
    # combine base and endpoint to alllow for looping
    url = domain + endpoint
    # making a request and storing the response to the request as a string
    response = requests.get(url)
    # storing the response in json form
    data = response.json()
    # prints the page number for which the data is being acquired out of the total number of pages, as well as the URL
    # the \r replaces the previous print statement with the new one based on the number of characters in the new statement. 
    print(f'\rGetting page {data["payload"]["page"]} of {data["payload"]["max_page"]}: {url}', end='')
    # .extend adds elements from a list to another list
    items.extend(data['payload']['sales'])
    # reasigning the endpoint variable to have the path to the next page.
    endpoint = data['payload']['next_page']
    if endpoint is None: 
        break
'''

'\n# define the base url\ndomain = \'https://api.data.codeup.com\'\n# path or where we are accessing the data inside the url\nendpoint = \'/api/v1/sales\'\n#create an empty list to place the data within\nsales = []\n\nwhile True: \n    # combine base and endpoint to alllow for looping\n    url = domain + endpoint\n    # making a request and storing the response to the request as a string\n    response = requests.get(url)\n    # storing the response in json form\n    data = response.json()\n    # prints the page number for which the data is being acquired out of the total number of pages, as well as the URL\n    # the \r replaces the previous print statement with the new one based on the number of characters in the new statement. \n    print(f\'\rGetting page {data["payload"]["page"]} of {data["payload"]["max_page"]}: {url}\', end=\'\')\n    # .extend adds elements from a list to another list\n    items.extend(data[\'payload\'][\'sales\'])\n    # reasigning the endpoint variable to have the path to the next page.\n    endpoint = data[\'payload\'][\'next_page\']\n    if endpoint is None: \n        break\n'

In [26]:
sales = pd.DataFrame(sales)
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

In [27]:
sales.to_csv('sales', index = False)

## 4. Save the data in your files to local csv files so that it will be faster to access in the future.

In [28]:
# saved above after each question

# items.to_csv('items', index = False)
# stores.to_csv('stores', index = False)
# sales.to_csv('sales', index = False)

## 5. Combine the data from your three separate dataframes into one large dataframe.

In [29]:
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

In [30]:
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

In [31]:
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

In [35]:
sales = sales.rename(columns={'item': 'item_id', 'store': 'store_id'})

In [36]:
df = pd.merge(sales, items, how='left', on='item_id')
df = pd.merge(df, stores, how='left', on='store_id')

In [ ]:
df.shape

6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [ ]:
opsd = pd.read_csv("https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv")
opsd.head()

In [ ]:
opsd.info()

In [ ]:
opsd.shape

In [ ]:
opsd.isna().sum()

7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

- Completed in acquire.py file

In [ ]:
# for - set number of times
#while - if don't know the number of times